body 
{
    background-color: rgb(48, 0, 48);
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    margin: 0;
    position: fixed;
}

#main-textarea 
{
    width: 100%;
    background-color: transparent;
    height: 100%;
    color: white;
    border: none;
    outline: none;
    font-family: Ubuntu Mono;
    font-size: 13px;
    position: fixed;
}
